<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2018-03-01-welcome-to-jekyll.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>541950048.77945995</real>
				<key>version</key>
				<dict>
					<key>affd977c607afe1954d4aac7fa273a5ff6b524f5095ae838602452febbc36bb0</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-03-05-test.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>542247408.51152098</real>
				<key>lastModification</key>
				<real>542247408.51152098</real>
				<key>version</key>
				<dict>
					<key>affd977c607afe1954d4aac7fa273a5ff6b524f5095ae838602452febbc36bb0</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2018-03-08-howto-disable-push-from-firefox-58.md</key>
			<dict>
				<key>lastModification</key>
				<real>542250468.06698895</real>
				<key>version</key>
				<dict>
					<key>affd977c607afe1954d4aac7fa273a5ff6b524f5095ae838602452febbc36bb0</key>
					<integer>14</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-03-08-howto-disable-push-from-firefox-58.md</string>
		</array>
		<array>
			<string>2018-03-05-test.markdown</string>
		</array>
		<array>
			<string>2018-03-01-welcome-to-jekyll.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>affd977c607afe1954d4aac7fa273a5ff6b524f5095ae838602452febbc36bb0</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
